header{
    background: #BBBBBB;
    padding-top: 20px;
    padding-bottom: 20px;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display:inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
    
}
nav a:hover{
    color: yellow;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2{
    color: #0000ff;
    font-size: 33px;
    
}
.produtos li:hover{
    border-color: #0000ff;
}
.produtos li:hover p{
    color:#0000ff;;
}

.produtos li:active{
    color:white;
}
.produto-descrição{
    font-size: 18px;
}
.produto-preço{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}
footer{
    background-image: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}
footer img{
    width: 5%;
}
.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}